.logo{
    width: 100%;
    /* margin: 0 auto; */
    /* height: 50%;
    border-radius: 50%;
    overflow: hidden; */
    border-radius: 50%;
}


nav{
  background-color: #cfd7c7;
  /* padding: 5px ; */
  /* display: flex;
  align-items: center;
  display: flex;
  justify-content: space-around; */
  /* align-content: center; */
  /* text-align: center; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* display: flex; */
  /* justify-content: space-around; */
  
}
nav a{
  /* padding: 5px;
  display: inline-block;
  margin: 0 10px;
  display: inline-block;
  margin: 0 10px; */
  /* padding: 5px 35px;
  display: flex;
  align-items: center;
  justify-content: space-around; */
  font-size: 20px;
  padding: 25px 20px;
  display: block;
  align-items: center;
  text-decoration: none;
  color: black;
  /* width: 100%; */
  width: 5%;

}
nav a:hover{
  background-color: #b1b8a9;
}
nav img:hover{
  background-color: #b1b8a9;
}
/* nav img{
  padding-right: 20px;
} */
body{
  margin: 0;
  background-color: #f6f1d1;
}

.pictureHome, .pictureHome1{
  width: 350px;
  height: auto;
  grid-row: 1/2;
  outline: black 1px solid;
}

.message1, .message2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  /* margin: 100px 100px 100px 100px; */
  margin: 50px 50px 50px 50px;
  background-color: #70a9a1;
  padding: 50px 50px 50px 50px;
  outline: black 2px solid;
  /* color: #a8aea2; */
}
.message, .title1, .title2, .messageSmall{
  grid-row: 1/2;
}

.title1{
  grid-column: 2/3;
  transform: translateY(-210px);
  font-size: 50px;
}
.title2{
  grid-column: 1/2;
  transform: translateY(-210px);
  font-size: 50px;
}

.message{
  grid-column: 2/3;
  font-size: 25px;
}
.messageSmall{
  grid-column: 1/2;
  font-size: 25px;
  transform: translateY(-75px);
}
.pictureHome{
  grid-row: 1/2;
  grid-column: 1/2;
}
.pictureHome1{
  /* grid-column: 2/3; */
  grid-row: 1/2;
}

footer{
  background-color: #cfd7c7;
  color: black;
  padding: 25px 50px;
  /* padding-top: 15px; */
  /* margin-top: 200px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a{
  color: black;
  text-decoration: none;
}
footer a:hover{
  color: black;
  text-decoration: none;
}

footer .social img{
  /* padding-top: 15px; */
  height: 64px;
  width: 64px;
}
footer p {
  font-size: 1.2em;
}    
footer p a:hover{
  text-decoration: none;;
}


/* RESUME */
.resumeSection{
  display: grid;
  grid-column: 1fr 1fr;
  margin: 50px 50px 50px 50px;
  background-color: #70a9a1;
  padding: 50px 50px 50px 50px;
  outline: black 2px solid;
}

.messageResume{
  grid-column: 1/2;
  justify-self: center;
  font-size: 25px;
}

.resumePic{
  grid-column: 2/3;
  grid-row: 1/2;
  width: 60%;
  height: auto;
  justify-self: center;
}
.captionResume{
  grid-column: 2/3;
  grid-row: 1/2;
  /* width: 130px;
  height: 20px; */
  width: auto;
  height: 20px;
  margin: 0;
}

#resumeCaption{
  /* transform: translateX(100px);
  transform: translateY(555px); */
  transform: translate(120px, 480px);
  
}
#river{
  transform: translate(125px, 285px);
}