.logo{
    width: 4%;
    /* height: 50%;
    border-radius: 50%;
    overflow: hidden; */
    border-radius: 50%;
}


nav{
  background-color: #cfd7c7;
  /* padding: 5px ; */
  /* display: flex;
  align-items: center;
  display: flex;
  justify-content: space-around; */
  /* align-content: center; */
  /* text-align: center; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* display: flex; */
  /* justify-content: space-around; */

}
nav a{
  /* padding: 5px;
    display: inline-block;
  margin: 0 10px;
  display: inline-block;
  margin: 0 10px; */
  /* padding: 5px 35px;
  display: flex;
  align-items: center;
  justify-content: space-around; */
  padding: 25px 20px;
  display: block;
  align-items: center;
  text-decoration: none;
  color: black;

}
nav a:hover{
  background-color: #b1b8a9;
}
nav img:hover{
  background-color: #b1b8a9;
}
/* nav img{
  padding-right: 20px;
} */
body{
  margin: 0;
}
.pictureHome{
  width: 200px;
  height: auto;
}
.message1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.message, .title{
  grid-column: 2/3;
}
.title{
  grid-row: 1/2;
}
.message{
  margin-bottom: 20px;
}
.pictureHome{
  justify-content: center;
  align-content: center;
  grid-row: 1/2;
}